.venv
.env
__pycache__
../../.CFUserTextEncoding
../../.DS_Store
../../.RData
../../.Rhistory
../../.anaconda/
../../.astropy/
../../.bash_history
../../.bash_profile
../../.bash_profile.pysave
../../.bash_sessions/
../../.cache/
../../.conda/
../../.condarc
../../.config/
../../.cups/
../../.docker/
../../.gitconfig
../../.idlerc/
../../.ipynb_checkpoints/
../../.ipython/
../../.jupyter/
../../.kite/
../../.lesshst
../../.matplotlib/
../../.msvscode.hdinsight/
../../.mysql_history
../../.openbb_terminal.his
../../.oracle_jre_usage/
../../.pgadmin/
../../.psql_history
../../.putty/
../../.python_history
../../.rstudio-desktop/
../../.scala_history
../../.spyder-py3/
../../.ssh/
../../.subversion/
../../.vim/
../../.viminfo
../../.vscode/
../../.wdm/
../../.zshrc
../../Applications/
../../Desktop/
../../Documents/
../../Downloads/
../../JupyterNotebooks/
../../Library/
../../Movies/
../../Music/
../../PSQL/
../../Pictures/
../../Public/
../.DS_Store
../Auto-GPT/
../BasicChromExtension/
../Cronjob/
../Github_clone/
../Indeed scraper/
../Projects/
../ackerrank_learnig/
../finalGHfolder/
../mysqlmodel.mwb
../mysqlmodel.mwb.bak
../pythonDSA/
../pythonProject/
../pythonProject1/
../pythonProject2/
../pythonProject3/
../pythonProject4/
../pythonProject5/
../reddit info.png
../sample.py
../winutils.exe
../../Untitled.ipynb
../../Untitled1.ipynb
../../VirtualBox VMs/
../../bin/
../../chromedriver
../../iCloud Drive (Archive) - 1/
../../outputtt20230330182300.txt
../../outputtt20230330182400.txt
../../outputtt20230330182500.txt
../../outputtt20230330182601.txt
../../outputtt20230330182700.txt
../../postgresql_14.app.zip
.easeus/EaseUSDriver.kext/
.Trash/


